<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	script(src="/js/jquery.min.js")
	link(rel="stylesheet", href="/css/bootstrap.css")
	link(rel="stylesheet", href="/css/index.css")
	<link rel="stylesheet" href="/css/ind_min.css">
body
	.top
		.left
			img(src="/images/bg.png")
			h1 秦皇岛盛邦升华大学生实训基地
		.right
			p 联系电话 ：188 8888 8888
			p
				a(href="/zc") 注册
				span /
				a(href="/denglu") 登录
	.nav
		p
			a(href="/") 首页
			a(href="/") 新闻资讯
			a(href="/") 联系我们

	block content


	.footer1
		div(style="margin-top:20px;")
			p.text-center
				span 
				a(href="###") 关于我们
				span |
				span 
				a(href="###") 商城链接
				span |
				span 
				a(href="###") 联系我们
			p.text-center Copyright @ 2017.All reghts reserved.秦皇岛盛邦升华大学生实训基地

	block footer




	block xiangqing