<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	script(src="js/jquery.min.js")
	link(rel="stylesheet", href="css/bootstrap.css")
	link(rel="stylesheet", href="css/index.css")
	<link rel="stylesheet" href="css/ind_min.css">
body
	.top
		.left
			img(src="images/bg.png")
			h1 秦皇岛盛邦升华大学生实训基地
		.right
			p 联系电话 ：188 8888 8888
			p
				a(href="/denglu") 登录
	.nav
		p
			a(href="###") 首页
			a(href="###") 新闻资讯
			a(href="###") 联系我们
	block content
	.container
		form(action="/zhuce" method="post" class="zhuce" style="margin-top:70px;")
			.form-group
				lable(for="username")
					p.text-center
						span 用户名称：
						input(type="text" id="name" name="username")
						<br>
						<br>
				lable(for="pwd")
					p.text-center
						span 输入密码：
						input(type="password" id="pwd" name="pwd")
						<br><br>
						span 确认密码：
						<input type="password" id="pwd1">
						<br><br><br>
				button.btn.btn-primary(style="margin-left:48%;") 立即注册
	.footer1
		div(style="margin-top:20px;")
			p.text-center
				span 
				a(href="###") 关于我们
				span |
				span 
				a(href="###") 商城链接
				span |
				span 
				a(href="###") 联系我们
			p.text-center Copyright @ 2017.All reghts reserved.秦皇岛盛邦升华大学生实训基地
	<br>
	<br>
	<br>
	<br>